<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="description" content="{{{ meta_desc }}}">

    <title>{{{ html_title }}}</title>

    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

    <div class="header">
        <div class="container">
        <img src="static/images/logo.svg">
            <h1>{{ title }}</h1>
        </div>
    </div>

    <div class="presentation">
        <div class="container">
            <div class="lead">{{{ intro }}}</div>
        </div>
    </div>

    <div class="main-content">
        <div class="container">
            <div class="markdown">
                {{{ content }}}
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            my footer
        </div>
    </div>

</body>
</html>
