<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="description" content="{{{ meta_desc }}}">

    <title>{{{ html_title }}}</title>

    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

    <div class="header">
        <div class="container">
        <img src="static/images/logo.svg">
            <h1>{{ title }}</h1>
        </div>
    </div>

    <div class="presentation">
        <div class="container">
            <div class="row">
                <div class="col-lead">
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dolor leo, ultrices vel ante ac, iaculis ultrices lectus. Quisque sed ipsum eget sem fringilla accumsan vitae et sem. Etiam eget nibh lobortis, tincidunt urna a, posuere augue. In nulla felis, pharetra laoreet luctus eget, sollicitudin id sem.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dolor leo, ultrices vel ante ac, iaculis ultrices lectus. Quisque sed ipsum eget sem fringilla accumsan vitae et sem. Etiam eget nibh lobortis, tincidunt urna a, posuere augue. In nulla felis, pharetra laoreet luctus eget, sollicitudin id sem.</p>
                </div>
                <div class="col-links">
                    C
                </div>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="container">
            <div class="markdown">
                {{{ content }}}
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            my footer
        </div>
    </div>

</body>
</html>
