body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}

.presentation,
.main-content,
.footer {
  @include clearfix;
  display: block;
  margin-top: $padding-xl;
}

.presentation {
  margin-bottom: 6rem;
}

.footer {
  margin-bottom: $padding-xl;
}

.row {
  @include break;
}
